<div id="wrapper">


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <h1 class="page-header">{{title}}</h1>
                        <div class="card-panel">
                            <form ng-submit="saveUser()" name="userForm">

                                 <!-- NAME -->
                                 <div class="input-field form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine, 'has-success': userForm.name.$valid }">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" ng-model="User.name"  placeholder="foo.bar" ng-pattern="/^[a-z0-9._-]{5,20}$/" required>
                                    <p ng-show="userForm.name.$error.required && !userForm.name.$pristine" class="help-block">You name is required.</p>
                                     <p ng-show="userForm.name.$error.pattern && !userForm.name.$pristine" class="help-block">Name Error (A-Z a-z 0-9 . _ -)</p>
                                </div>

                                <!-- EMAIL -->
                                <div class="input-field form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine, 'has-success': userForm.email.$valid}">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" ng-model="User.email" placeholder="foo@example.com.ar" required>
                                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                </div>


                                <div class="form-group"
                                    ng-class="{'has-error': isInputInvalid(userForm.password), 'has-success': isInputValid(userForm.password)}"
                                     ng-controller="PasswordCtrl"
                                            >
                                            <label for="password">Password</label>
                                            <input type="password" name="password" ng-model="User.password" equals="{{user.password_verify}}" class="form-control" required>
                                            <p ng-show="userForm.password.$error.required && !userForm.password.$pristine" class="help-block">Password is required.</p>
                                            <div class="progress" style="margin-top:10px" id="progressPass">
                                                <div class="progress-bar"
                                                        ng-class="{'progress-bar-success': isPasswordStrong(), 'progress-bar-warning': isPasswordOk(), 'progress-bar-danger': isPasswordWeak()}"
                                                        aria-valuenow="{{ passwordStrength }}"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                        style="width:{{ passwordStrength }}%">

                                                </div>
                                            </div>

                                </div>

                                <div class="form-group"
                                    ng-class="{'has-error': (userForm.confirm_password.$error.passwordVerify || userForm.confirm_password.$invalid) && !userForm.confirm_password.$pristine, 'has-success': userForm.confirm_password.$valid && !userForm.confirm_password.$pristine}"
                                            >
                                    <label for="password">Password Verify</label>
                                    <input class="form-control" ng-model='user.password_verify' equals="{{User.password}}" type="password" name='confirm_password' placeholder='confirm password' data-password-verify="User.password" required>
                                    <p ng-show="userForm.confirm_password.$error.required && !userForm.confirm_password.$pristine" class="help-block">Password is required.</p>
                                    <p ng-show="(userForm.confirm_password.$error.passwordVerify || userForm.confirm_password.$invalid) && !userForm.confirm_password.$pristine" class="help-block">Password Missmatch.</p>


                                </div>


                                <div class="input-field form-group">
                                    <input type="text" ng-model="User.id_role" placeholder="id Role" class="form-control" required>
                                </div>



                                <button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid">
                                    {{button}}
                                </button>
                            </form>
                        </div>

                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

